* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/*Navbar Styling*/
.think {
  width: 250px;
  text-align: center;
}
.think img {
  width: 80%;
}
.navbar-left {
  padding-top: 10px;
  max-width: 360px;
  float:left;
}
.navbar-right {
  padding-right: 20px;
}

/*Content Styling*/
.leftContent {
  width: 65%;
  height: 100vh;
  float: left;
  background-color: red;
}
.rightTop {
  height: 49vh;
  width: 35%;
  float: left;
  background-color: blue;
}
.rightBottom {
  height: 49vh;
  width: 35%;
  float: left;
  background-color: yellow;
}

/*Media Queries*/
@media screen and (max-width: 1022px) {
  .visible {
    display: none !important;
  }
  /*.invisible {
    display: inline-block;
  }*/
}

@media screen and (max-width: 768px) {
  ul.navbar-left{
    margin-right: 0;
  }
  .navbar-left li {
    margin: 0;
    float: left;
  }
  .navbar-right li {
    float: right;
  }
  .leftContent {
  width: 100%;
  height: 50vh;

  }
  .rightTop {
  height: 25vh;
  width: 50%;
  }
  .rightBottom {
  height: 25vh;
  width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .leftContent {
    width: 100%;
    height: 40vh;
  }
  .rightTop {
    height: 25vh;
    width: 100%;
  }
  .rightBottom {
    height: 25vh;
    width: 100%;
  }
  .navbar-right li {
    display: inline-block;
  }
}
